/* root */
:root {
    /* font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif; */
}
/* Modelo de caja alternativo */
* {
    /****************** */
}
/* quitar margeners y rellenos */
html,
body,
h1,
h2,
h5,
p,
figure {
    margin: 0;
    padding: 0;
}
/* html/body alto 100% */
html,
body {
    height: 100%;
}

/* body */
body {
    display: flex;
    flex-direction: column;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 200px;
}
.header__titulo {
    display: flex;
    align-items: center;
}
.header__menu {
    border: 1px solid #333;
    display: flex;
    /* flex-direction: column;  Poner en columna los Navs*/
    align-items: end;
    gap: 20px;
}
.header__menu > a {
    /****************** */
}

/* main */
.main {
    padding: 10px;
}
.article {
    display: flex;
    flex-direction: row-reverse;
}
.article__figure {
    
}
.article__figure > img {
    width: 50%;
}
.article__nota {
    /****************** */
}
.article__titulo {
    /****************** */
}
.article__parrafo {
    width: 50%;
}
/* media query  ancho minimo -> 600px*/
@media (min-width: 600px) {
    .article {
        /****************** */
    }

    .article__figure {
        /****************** */
    }
    .article__nota {
        /****************** */
    }
}
/* footer */
.footer {
    /****************** */
}
.footer__referencia {
    /****************** */
}
